body{
    font-family: 'Open Sans', sans-serif;
}

.card {
    padding : 10px;
    border-radius: 5px;
    border: 1px solid #f3efef;
}

.card > a {
    color: black;
    font-style: normal;
    margin: 10px;
}

div .scroll {
    margin:4px, 4px;
    padding:4px;
    width: 200px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}